
/.idea/dictionaries/AlexK.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
/.idea/MailingListLibrary.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea
